@inherits LayoutComponentBase

<PageTitle>AtlasSearchNYC</PageTitle>

<div class="parent">
    <div class="child">
            <center><img src="/BrandAssets/Illustrations/Technical_CONTENT_Presentation_Spot_BS_ForestGreen.png" style="width:50%" /></center>
            <h2 style="text-align:center">Movie Search</h2>
            @Body
    </div>
</div>
