@inherits LayoutComponentBase

<PageTitle>AtlasSearchNYC</PageTitle>

<div class="container">
    <div class="row">
        <div class="col-1">
            <ul style="padding-left:0px;">
                <li><a href="/Search01">Version 1</a></li>
                <li><a href="/Search02">Version 2</a></li>
                <li><a href="/Results03/ghostbusters">Version 3</a></li>
                <li><a href="/Results04/ghost busters">Version 4</a></li>
                <li><a href="/Results05">Version 5</a></li>
            </ul>
        </div>
        <div class="col-11">
            @Body
        </div>
    </div>
</div>
