@inherits LayoutComponentBase

<PageTitle>AtlasSearchNYC</PageTitle>

<MainLayoutSidePanel OpenOnLoad=@showPanel />

<div class="container">
    <div class="row">
        <div class="col-12">
            @Body
        </div>
    </div>
</div>

@code{ 
    bool showPanel = false;
}