@inject NavigationManager NavigationManager

<div class="input-group input-group-lg">
  <span class="input-group-text">
    <img src='/BrandAssets/Icons/Technical_ATLAS_Search10x.png' width="50" />
  </span>
  <input type="text" class="form-control" placeholder="Search Content..." @bind-value="SearchTerm" @bind-value:event="oninput" @onkeydown="@CheckEnterKey">
  <button class="btn btn-search" type="button" @onclick="RedirectSearch">Search</button>
</div>

@code {    
    [Parameter]
    public string SearchTerm {get; set;}

    [Parameter]
    public string Redirect {get; set;}

    [Parameter]
    public EventCallback<string> OnSearchCallback { get; set; }

    private async Task RedirectSearch() {
        await OnSearchCallback.InvokeAsync(SearchTerm);
        NavigationManager.NavigateTo("/"+Redirect+"/" + SearchTerm);
    } 

    public async void CheckEnterKey(KeyboardEventArgs e) {
      if (e.Code == "Enter" || e.Code == "NumpadEnter") {
        await  RedirectSearch();
      }
    }
}